In [1]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

In [2]:
# Устанавливаем соединение с базой
def create_connection():
    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    db = os.environ.get('DB_DESTINATION_NAME')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

# установите соединение с базой
conn = create_connection()

data = pd.read_sql('select * from real_estate_churn', conn)

postgresql://mle_20240919_f8666628fb:b4759a54ffe6447e81eaef1c5d36fff1@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20240919_f8666628fb

In [3]:
# Очистка данных от дубликатов, лишних фичей и артефактные price
def remove_duplicates(data):
    feature_cols = data.columns.drop('id').tolist()
    is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)
    data = data[~is_duplicated_features].reset_index(drop=True)

    # удаляем колонку studio, т.к. всегда всего одно значение = 0
    data = data.drop(columns=['studio']).reset_index(drop=True)

    # удаляем объекты с price меньше 1,000 и больше 1,000,000,000
    data = data[data["price"] >= 1e+03 ].reset_index(drop=True)
    data = data[data["price"] < 1e+09].reset_index(drop=True)

    return data

In [4]:
data = remove_duplicates(data)
data

,id,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,floor,kitchen_area,living_area,rooms,is_apartment,total_area,price
0,0,6220,1965,6,55.717113,37.781120,2.64,84,12,True,9,9.90,19.900000,1,False,35.099998,9500000
1,1,18012,2001,2,55.794849,37.608013,3.00,97,10,True,7,0.00,16.600000,1,False,43.000000,13500000
2,2,17821,2000,4,55.740040,37.761742,2.70,80,10,True,9,9.00,32.000000,2,False,56.000000,13500000
3,3,18579,2002,4,55.672016,37.570877,2.64,771,17,True,1,10.10,43.099998,3,False,76.000000,20000000
4,4,9293,1971,1,55.808807,37.707306,2.60,208,9,True,3,3.00,14.000000,1,False,24.000000,5200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123932,141357,22455,2013,4,55.626579,37.313503,2.64,672,25,True,16,11.00,18.000000,1,False,42.000000,10500000
123933,141358,3162,1960,1,55.727470,37.768677,2.48,80,5,False,5,5.28,28.330000,2,False,41.110001,7400000
123934,141359,6513,1966,4,55.704315,37.506584,2.64,72,9,True,7,5.30,20.000000,1,False,31.500000,9700000
123935,141360,23952,2017,4,55.699863,37.939564,2.70,480,25,True,15,13.80,33.700001,2,False,65.300003,11750000
123936,141361,15104,1988,4,55.862133,37.689613,2.74,128,17,True,16,7.60,18.000000,1,False,38.000000,8000000

In [5]:
display(data['price'].describe())

count    1.239370e+05
mean     1.923365e+07
std      6.890131e+07
min      1.100000e+01
25%      8.900000e+06
50%      1.180000e+07
75%      1.670000e+07
max      9.873738e+09
Name: price, dtype: float64

In [6]:
# encoding bool features
def bool_to_bincat(data):
    feature_cols = data.columns.drop('id').tolist()
    bool_cols = data[feature_cols].select_dtypes(['bool']).columns
    data[bool_cols] = data[bool_cols]*1
    return data

In [7]:
data = bool_to_bincat(data)
data

,id,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,floor,kitchen_area,living_area,rooms,is_apartment,total_area,price
0,0,6220,1965,6,55.717113,37.781120,2.64,84,12,1,9,9.90,19.900000,1,0,35.099998,9500000
1,1,18012,2001,2,55.794849,37.608013,3.00,97,10,1,7,0.00,16.600000,1,0,43.000000,13500000
2,2,17821,2000,4,55.740040,37.761742,2.70,80,10,1,9,9.00,32.000000,2,0,56.000000,13500000
3,3,18579,2002,4,55.672016,37.570877,2.64,771,17,1,1,10.10,43.099998,3,0,76.000000,20000000
4,4,9293,1971,1,55.808807,37.707306,2.60,208,9,1,3,3.00,14.000000,1,0,24.000000,5200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123932,141357,22455,2013,4,55.626579,37.313503,2.64,672,25,1,16,11.00,18.000000,1,0,42.000000,10500000
123933,141358,3162,1960,1,55.727470,37.768677,2.48,80,5,0,5,5.28,28.330000,2,0,41.110001,7400000
123934,141359,6513,1966,4,55.704315,37.506584,2.64,72,9,1,7,5.30,20.000000,1,0,31.500000,9700000
123935,141360,23952,2017,4,55.699863,37.939564,2.70,480,25,1,15,13.80,33.700001,2,0,65.300003,11750000
123936,141361,15104,1988,4,55.862133,37.689613,2.74,128,17,1,16,7.60,18.000000,1,0,38.000000,8000000

In [8]:
# Заполнение пропусков
def fill_missing_values(data):
    cols_with_nans = data.isnull().sum()
    cols_with_nans = cols_with_nans[cols_with_nans > 0].index
    for col in cols_with_nans:
        if data[col].dtype in [float, int]:
            fill_value = data[col].mean()
        data[col] = data[col].fillna(fill_value)
    return data

In [9]:
data = fill_missing_values(data)
data

,id,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,floor,kitchen_area,living_area,rooms,is_apartment,total_area,price
0,0,6220,1965,6,55.717113,37.781120,2.64,84,12,1,9,9.90,19.900000,1,0,35.099998,9500000
1,1,18012,2001,2,55.794849,37.608013,3.00,97,10,1,7,0.00,16.600000,1,0,43.000000,13500000
2,2,17821,2000,4,55.740040,37.761742,2.70,80,10,1,9,9.00,32.000000,2,0,56.000000,13500000
3,3,18579,2002,4,55.672016,37.570877,2.64,771,17,1,1,10.10,43.099998,3,0,76.000000,20000000
4,4,9293,1971,1,55.808807,37.707306,2.60,208,9,1,3,3.00,14.000000,1,0,24.000000,5200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123932,141357,22455,2013,4,55.626579,37.313503,2.64,672,25,1,16,11.00,18.000000,1,0,42.000000,10500000
123933,141358,3162,1960,1,55.727470,37.768677,2.48,80,5,0,5,5.28,28.330000,2,0,41.110001,7400000
123934,141359,6513,1966,4,55.704315,37.506584,2.64,72,9,1,7,5.30,20.000000,1,0,31.500000,9700000
123935,141360,23952,2017,4,55.699863,37.939564,2.70,480,25,1,15,13.80,33.700001,2,0,65.300003,11750000
123936,141361,15104,1988,4,55.862133,37.689613,2.74,128,17,1,16,7.60,18.000000,1,0,38.000000,8000000

In [10]:
# Отсев выбросов по методу IQR (Interquantile Range)
def remove_outliers(data):
    num_cols = data.select_dtypes(['float']).columns
    threshold = 1.5
    potential_outliers = pd.DataFrame()

    for col in num_cols:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        margin = threshold*IQR
        lower = Q1 - margin
        upper = Q3 + margin
        potential_outliers[col] = ~data[col].between(lower, upper)

    outliers = potential_outliers.any(axis=1)
    return data[~outliers].reset_index(drop=True)

In [11]:
data = remove_outliers(data)
data

,id,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,floor,kitchen_area,living_area,rooms,is_apartment,total_area,price
0,0,6220,1965,6,55.717113,37.781120,2.64,84,12,1,9,9.90,19.900000,1,0,35.099998,9500000
1,1,18012,2001,2,55.794849,37.608013,3.00,97,10,1,7,0.00,16.600000,1,0,43.000000,13500000
2,2,17821,2000,4,55.740040,37.761742,2.70,80,10,1,9,9.00,32.000000,2,0,56.000000,13500000
3,3,18579,2002,4,55.672016,37.570877,2.64,771,17,1,1,10.10,43.099998,3,0,76.000000,20000000
4,4,9293,1971,1,55.808807,37.707306,2.60,208,9,1,3,3.00,14.000000,1,0,24.000000,5200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106336,141357,22455,2013,4,55.626579,37.313503,2.64,672,25,1,16,11.00,18.000000,1,0,42.000000,10500000
106337,141358,3162,1960,1,55.727470,37.768677,2.48,80,5,0,5,5.28,28.330000,2,0,41.110001,7400000
106338,141359,6513,1966,4,55.704315,37.506584,2.64,72,9,1,7,5.30,20.000000,1,0,31.500000,9700000
106339,141360,23952,2017,4,55.699863,37.939564,2.70,480,25,1,15,13.80,33.700001,2,0,65.300003,11750000
106340,141361,15104,1988,4,55.862133,37.689613,2.74,128,17,1,16,7.60,18.000000,1,0,38.000000,8000000